:root {
  --first-color: #333333;
  --second-color: #666666;
  --three-color: #999999;
}

body {
  font-family: Courier New, Courier, monospace;
  color: var(--first-color) !important;
}
.page {
  height: 100vh;
  overflow-y: auto;
  // 滚动条
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  ::-webkit-scrollbar {
    display: none;
  }
}
.layout-row-pro {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  .layout-col-pro {
    box-sizing: border-box;
    width: 25%;
  }
}
.dfs {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.dfb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.dfb-s {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.dfa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.dfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.dfcs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.oc {
  color: #111111 !important;
}
.sc {
  color: var(--second-color) !important;
}
.tc {
  color: var(--three-color) !important;
}
.fontw {
  font-weight: 600;
}
.small {
  font-size: 12px;
}
.cp {
  cursor: pointer;
}
.hover-co {
  &:hover {
    color: skyblue !important;
  }
}
.hover-bg {
  &:hover {
    background-color: #f5f7fa !important;
  }
}
.boxs {
  &:hover {
    transition: all 0.2s;
    box-shadow: 1px 1px 15px #e6e4e4 !important;
  }
}
.bgc-fff {
  background-color: #ffffff !important;
}
.width-full {
  width: 100% !important;
}
.text-center {
  text-align: center !important;
}
